/* Only comments */

.mobile_sidebar{
    padding: 10px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    background-color:var(--background);
    z-index: 10;
    overflow-y: scroll;
    
}
.wrapper{
    padding: 25px;
    padding-top: 41px;
    display:grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between;

    @media (width < 400px) {
        padding: 10px;
        padding-top: 41px;
    }
}


.close_button{
    position: fixed;
    top: 41px;
    right: 10px;
    z-index: 11;
}