.homePage {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: 100%;

  @media (width < 800px) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 100px 1fr;
  }
}
.text_wrapper {
  z-index: 5;
  width: 95%;
  display: block;

  @media (width < 800px) {
    width: 60%;
  }

  @media (width < 425px) {
    width: 77%;
  }
}
.left_text {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.right_text {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.primary {
  color: var(--primary);
}

.left {
  position: relative;
  display: grid;
  align-items: flex-end;

  @media (width < 800px) {
    width: 30%;
  }
}

.right {
  position: relative;
  display: grid;
  align-items: flex-start;

  @media (width < 800px) {
    width: 30%;
    align-items: flex-start;
    justify-self: end;
  }
}
.mid {
  display: grid;
  gap: 50px;
  grid-auto-rows: 80px;
  align-items: center;
  justify-items: center;
  align-content: center;

  @media (width < 800px) {
    gap: 0px;
  }

  h1 {
    font-size: 50px;

    @media ((width > 800px) and (width < 1200px)) {
      font-size: 30px;
    }

    @media (width < 800px) {
      font-size: 30px;
    }
  }
}
.button {
  width: 150px;
}

.svg {
  width: 240px;
  height: 400px;

  @media (width < 1200px) {
    width: fit-content;
    min-width: 200px;
    height: 250px;
  }

  @media (width < 800px) {
    min-width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
  }
}
