.button {
    display: inline-block;
    box-sizing: border-box;
    padding:10px;
    cursor: pointer;
    text-align: center;
    border: none ;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s
}

.primary{
    color:var(--white);
    background-color: var(--primary);
    border: 1px solid var(--white);

    &:hover { background-color: var(--primary-hover);}

    img {
        fill: var(--white)
    }
}




.ghost{
    color:var(--black);
    background: var(--white);
    border: 1px solid var(--gray-light);

    &:hover { background-color: var(--primary);
              color:var(--white);
            }
}


.arrow{
    display: inline-block;
    width:5px;
    color:wheat
}

.arrow_down {
    transform: rotate(90deg);
}
