:root {
	--black : #3B434E;
	--white : white;
	--primary: #7653FC ;
	--primary-hover: #6344DF;
	--background : #F5F6F8;
	--red : #FC8360;
	--green : #1DC37E;
	--green-light : #C8F8E4;
	--gray-light : #EBEBEB;
	--font-family:  "Noto Sans", sans-serif;
	
}




* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;
	max-width: 100vw;
	font-family: var(--font-family)

	
}

body {
	color: var(--black);
	background : var(--background);
	
}

a {
	text-decoration: none;
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
