.wrapper {
     position: relative;
     width: 230px;
     height:36px;
}


.button {
    width: 30px;
    height: 30px;
    position:absolute;
    right:3px;
    top:3px;
    box-shadow: none;
    font-size:15px
}