.wrapper {
  position: relative;
  width: 225px;
  height: 36px;
  display: flex;
}
.focused {
  transition: width 0.1s;
  &:focus {
    width: 250px;
    transition: width 0.1s;
  }

  @media (width < 800px) {
    &:focus {
      width: 100%;
    }
  }
}
.button {
  width: 38px;
  height: 38px;
  padding: 0px 10px;
  box-shadow: none;
  font-size: 15px;
}
