.wrapper{
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto 1fr auto ;
    grid-template-areas: "name  title . rating"
                         "comment comment comment comment"
                         "button . . .";
    column-gap:30px;
    row-gap:20px;

    @media (width <780px) {
        grid-template-columns: 1fr 1fr  ;
         grid-template-areas: "name  title "
                         "comment comment "
                         "rating rating"
                         "button . ";
    }
    
    @media (width <500px) {
        grid-template-columns: 1fr   ;
         grid-template-areas:"name"
                            "title"
                            "comment"
                            "rating"
                            "button";
    }
}

.button{
    grid-area: button;
}
.name {
    grid-area: name;
}
.title {
    grid-area: title;
}
.rating{
    display: flex;
    gap:20px;
    grid-area: rating;
}
.comment {
    grid-area: comment;
}